table {
  text-align: center;
  border: 1px solid black;
}
body {
  font-family: arial;
  text-align: center;
}
th {
  color: white;
  background-color: black;
  font-weight: bold;
}
th,
td {
  padding: 10px 15px;
}

.red {
  background-color: red;
  color: white;
}
.blue {
  background-color: blue;
  color: white;
}
.purple {
  background-color: purple;
  color: white;
}
.pink {
  background-color: pink;
}
