table{
  text-align: center;
  border: 1px solid black;
}
body{
  font-family: arial;
}
th {
  color: white;
  background-color: black;
}
th, td {
  padding: 10px 15px;
}
tr:nth-child(even) {
  background-color: lightgrey;
}
tr:nth-child(odd) {
  background-color: grey;
}
